<div class="card" style="width: 18rem;">
    <div class="card-head">
      <input type="number" type="hidden" formControlName="id" value="{{objeto.id}}" >
      
      <img class="card-img-top" src="{{objeto.imagen}}" alt="Card image cap">
      
      <span ng-if="objeto.oferta" class="descuento"> {{objeto.descuento}} %</span> 
      <span class="calorias">{{objeto.calorias}} kcal</span>
    
  </div>
    <div class="card-body">
      <h5 class="card-title">{{objeto.nombre}}</h5>
      <p ng-if="!objeto.oferta" class="card-text">Precio : {{objeto.precio | currency:'EUR'}}</p>
      <p ng-if="objeto.oferta" class="card-text">Precio :<del> {{objeto.precio | currency:'EUR'}}</del> , Descuento : {{(objeto.precio*objeto.descuento / 100 | number:'1.2-2')}}, total Precio final : {{(objeto.precio*objeto.descuento / 100) - objeto.precio | number:'1.2-2'}} </p>

      <button (click)="comprar(event)" class="btn btn-primary">Comprar</button>
    </div>
  </div>

  
