<app-cabecera-pipe></app-cabecera-pipe>
<h2>Pipes</h2>
<p><a href="https://angular.io/api?type=pipe" target="blank">Tipos de api documentacion oficial</a></p>
<p><a href="https://angular.io/guide/pipes" target="blank">Documentacion oficial sobre pipes</a></p>
<p>
  En Angular 2 aparece un nuevo concepto llamado Pipes, los pipes en Angular 2 son lo mismo que los filtros , nos
  permite mostrar los datos con un formato especifico , pudiendo usar los que nos ofrecen angular podemos crear pipes
  propios
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/bDcD0Cqx6io" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe>