<app-cabecera-principal></app-cabecera-principal>
<h2>¡¡ Herramientas recomendadas para el desarrollo de Angular !!</h2>
<h3>Editores</h3>
<p><b>Visual Studio Code: </b> <a href=""></a><br>
<b>Plugins recomendados para visual Studio Code:</b><br>
</p>
<ul>
  <li>Angular 7 Snippets - TypeScript, Html, Angular Material, ngRx, RxJS & Flex Layout</li>
  <li>Angular pack</li>
  <li>Auto import</li>
  <li>Getter and Setter</li>
  <li></li>

</ul>
<p>Permite la creacion automatica de interfaces con las datos copiados en el portapapels en formato json <a href="https://marketplace.visualstudio.com/items?itemName=MariusAlchimavicius.json-to-ts" target="blank">Json2ts</a></p>

<p><b>Atom: </b> <a href=""></a> </p>

<h3>Herramientas para pruebas Rest</h3>
<p><small><a href="https://github.com/typicode/json-server" target="blank">Json-Server</a></small></p>

