<app-cabecera-principal></app-cabecera-principal>
<h2>Instalacion de Angular</h2>
<h3>Requisitos:</h3>
<p>*- Tener instalado NodeJs :<small><a href="https://nodejs.org/es/" target="blank">NodeJS</a></small><br>
  <b><u>Importante:</u></b> Para comprobar la version de node y npm(Gestor de paquetes de node), abrimos una terminal y ejecutamos los siquientes comandos:<br>
   <code>node -v</code>  Nos muestra la version de node. <br>
   <code>npm -v</code> Nos muestra la version del gestor de paquetes node.
</p>
<h3>Instalacion del cliente</h3>
<p>*- Con NodeJs instalado, desde una terminal instalamos el cliente de Angular, con el siguiente comando.<br>
  <code>npm install -g @angular/cli</code>
</p>
<h3>Arrancar el primer proyecto Angular en desrrollo</h3>
<p>En este momento estamos listos para ubicarnos en la ruta donde decidamos iniciar nuestros proyecto.</p>
<p>Desde la terminal navegamos hasta la ubicacion. Por ejemplo <code>cd c: </code> , <code>mkdir proyecto </code>,<code>cd proyecto</code>,<code>ng new my-app</code>  </p>
<p>Despues de que termine el proceso tras ejecutar el ultimo comando, podemos iniciarlo con <code>ng serve -o</code> con lo que si todo a ido bien, nos abrira una ventana de nuestro navegador con nuestra primera pagina angular.
la ruta de acceso es <code>http://localhost:4200</code></p>
