<app-cabecera-crud></app-cabecera-crud>
<button type="button" (click)="mostrarFormulario()">Nueva fruta</button>

<button class="btn btn-success" (click)="cargarFormulario()" [hidden]="formularioNuevo">Repoblar Formulario</button>
<div class="row justify-content-md-center" >
  <!-- Importante desactivar las validaciones en html5-->
  
  <form [formGroup]="formulario" (ngSubmit)="sumitar()" novalidate [hidden]="formularioNuevo">
      
      <div class="form-row justify-content-md-center">
      <div class="form-group">
          <label for="nombre"> Nombre:</label>
         
          <input type="text" formControlName="nombre" class="form-control" name="nombre">
          <small *ngIf="formulario.controls.nombre.invalid" class="text-danger">Errores de validacion minimi 2 caracteres maximo 50</small>
          <small *ngIf="formulario.controls.nombre.valid" class="text-success">Correcto</small>
        
      </div>
      
      <div class="form-group">
          
          <label for="precio">Precio</label>
          <input type="text" formControlName="precio" class="form-control" name="precio">
          <small *ngIf="formulario.controls.precio.invalid " class="text-danger">Errores de validacion minimi 2 caracteres maximo 50</small>
          <small *ngIf="formulario.controls.precio.valid" class="text-success">Correcto</small>
        
      </div>
      
      <div class="form-group">    
          <label for="precio">calorias</label>
          <input type="text" formControlName="calorias" class="form-control" name="calorias">
          <small *ngIf="formulario.controls.calorias.invalid " class="text-danger">Errores de validacion entre 1 y 50 caracteres</small>
          <small *ngIf="formulario.controls.calorias.valid" class="text-success">Correcto</small>       
      </div>
    </div>
    <div class="form-row justify-content-md-center">
      <div class="form-group">    
          <label for="oferta">Oferta</label>
          <input type="checkbox" formControlName="oferta" class="form-control" name="oferta">
          <small *ngIf="formulario.controls.oferta.invalid " class="text-danger">Errores de validacion en oferta</small>
            <small *ngIf="formulario.controls.oferta.valid" class="text-success">Correcto</small>             
      </div>
      <div class="form-group">    
          <label for="descuento">Descuento</label>
          <input type="number" formControlName="descuento" class="form-control" name="descuento">   
          <small *ngIf="formulario.controls.descuento.invalid " class="text-danger">Errores de validacion en descuento</small>
            <small *ngIf="formulario.controls.descuento.valid" class="text-success">Correcto</small>             
      </div>
      
      </div>
      <div class="form-row justify-content-md-center">    
        <div class="form-group">               
            
            <div formArrayName="colores">
                    
                <div *ngFor="let color of formulario.get('colores')?.controls; let i = index;">   
                        <a  class="btn btn-success" (click)="nuevoColor()">Nuevo Color</a>
                        <button class="btn btn-danger" (click)="eliminarColor(i)">Eliminar color</button>                                    
                    <div [formGroupName]="i">
                        <input type="color" formControlName="color"  class="form-control" name="color">
                        <small *ngIf="formulario.controls.colores.invalid " class="text-danger">Errores de validacion del color</small>
                        <small *ngIf="formulario.controls.colores.valid" class="text-success">Correcto</small>             
                    </div>                   
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">    
                <label for="imagen">Imagen</label>
                <input type="text" formControlName="imagen" class="form-control" name="imagen">
                <small *ngIf="formulario.controls.imagen.invalid " class="text-danger">Errores de validacion en imagen revise la extension de la ruta</small>
                <small *ngIf="formulario.controls.imagen.valid" class="text-success">Correcto</small>             
            </div>
        </div>
        
      </div>
      
      <input type="submit" class="btn btn-info" value="crear" [disabled]="formulario.status === 'INVALID'">
      

  </form>
</div>
<button type="button" (click)="showSimpleFormControlValues()">Mostrar/Ocultar</button>
<div [hidden]="!frutaDetalle">
    <app-card [_objeto]="frutaDetalle"></app-card>
</div>

<table style="width: 100%;" [hidden]="visibleForm">
    <thead>
      <th>Id</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Calorias</th>
      <th>Colores</th>
      <th>Oferta</th>
      <th>Descuento</th>
      <th>imagen</th>
      <th>Operaciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let f of frutas">
        <td>{{f.id}}</td>
        <td>{{f.nombre}}</td>
        <td>{{f.precio}}</td>
        <td>{{f.calorias}}</td>
        <td>
            <p *ngFor="let color of f.colores; let i = index" ><span >{{f.colores[i].color  }} </span>
            <input type="color" disabled value="{{f.colores[i].color  }}">
        </p>
            
        </td> 
        <td>{{f.oferta == false ? 'No' : 'Si'}}</td> 
        <td>{{f.descuento}}</td> 
        <td><img src="{{f.imagen}}"/></td> 
        <td><i class="fas fa-trash-alt fa-3x text-danger" (click)="eliminar(f.id)"></i>  <i class="fas fa-edit fa-3x" [routerLink]="['../detalle-fruta-editable', f.id ]" ></i></td><!--<i class="fas fa-edit" (click)="mostrarFruta(f)" ></i>-->
      </tr>
    </tbody>
  </table>
  
