<app-cabecera-crud></app-cabecera-crud>

<div class="row justify-content-md-center" >
  <!-- Importante desactivar las validaciones en html5-->
  <form [formGroup]="formulario" (ngSubmit)="sumitar()" novalidate>
      <button class="btn btn-success" (click)="cargarFormulario()">Repoblar Formulario</button>
      <div class="form-row justify-content-md-center">
      <div class="form-group">
          <label for="nombre"> Nombre:</label>
         
          <input type="text" formControlName="nombre" class="form-control" name="nombre">
          <small *ngIf="formulario.controls.nombre.invalid" class="text-danger">Errores de validacion minimi 2 caracteres maximo 50</small>
          <small *ngIf="formulario.controls.nombre.valid" class="text-success">Correcto</small>
        
      </div>
      
      <div class="form-group">
          
          <label for="precio">Precio</label>
          <input type="text" formControlName="precio" class="form-control" name="precio">
          <small *ngIf="formulario.controls.precio.invalid " class="text-danger">Errores de validacion minimi 2 caracteres maximo 50</small>
          <small *ngIf="formulario.controls.precio.valid" class="text-success">Correcto</small>
        
      </div>
      
      <div class="form-group">    
          <label for="precio">calorias</label>
          <input type="text" formControlName="calorias" class="form-control" name="calorias">
          <small *ngIf="formulario.controls.calorias.invalid " class="text-danger">Errores de validacion minimi 2 caracteres maximo 50</small>
          <small *ngIf="formulario.controls.calorias.valid" class="text-success">Correcto</small>       
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">    
          <label for="colores">colores</label>
          <a  class="btn btn-success" (click)="nuevoColor()">Nuevo</a>
         <input type="color" formControlName="colores" class="form-control" name="colores">
          <!-- <small  class="text-danger">Errores colores</small>        -->
         <div formArrayName="colores">
            <div *ngFor="let color of formulario.get('colores').controls; let i = index;">                                       
                <div [formGroupName]="i">
                    <input formControlName="color" >
                    <button (click)="eliminarColor(i)">Eliminar</button>
                   <!-- <small *ngIf="formulario.get('colores').controls[i].invalid" class="form-text text-danger">Minimo 2 letras maximo 15</small> -->
                </div>                   
            </div>
        </div>
      </div>
      <div class="form-group">    
          <label for="oferta">Oferta</label>
          <input type="text" formControlName="oferta" class="form-control" name="oferta">
         <small  class="text-danger">Errores oferta</small>       
      </div>
      <div class="form-group">    
          <label for="descuento">Descuento</label>
          <input type="text" formControlName="descuento" class="form-control" name="descuento">
         <small  class="text-danger">Errores oferta</small>       
      </div>
      <div class="form-group">    
          <label for="imagen">Imagen</label>
          <input type="text" formControlName="imagen" class="form-control" name="imagen">
         <small  class="text-danger">Errores oferta</small>       
      </div>
      </div>
      
      <input type="submit" class="btn btn-info" value="crear" [disabled]="formulario.status === 'INVALID'">
      

  </form>
</div>
<button type="button" (click)="showSimpleFormControlValues()">Mostrar/Ocultar</button>
<div [hidden]="!frutaDetalle">
    <app-card [_objeto]="frutaDetalle"></app-card>
</div>

<table style="width: 100%;" [hidden]="visibleForm">
    <thead>
      <th>Id</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Calorias</th>
      <th>Colores</th>
      <th>Oferta</th>
      <th>Descuento</th>
      <th>imagen</th>
      <th>Operaciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let f of frutas">
        <td>{{f.id}}</td>
        <td>{{f.nombre}}</td>
        <td>{{f.precio}}</td>
        <td>{{f.calorias}}</td>
        <td><p >{{f.colores | json }}</p></td> 
        <td>{{f.oferta}}</td> 
        <td>{{f.descuento}}</td> 
        <td><img src="{{f.imagen}}"/></td> 
        <td><i class="fas fa-trash-alt text-danger" (click)="eliminar(f.id)"></i> <i class="fas fa-edit" (click)="mostrarFruta(f)" ></i> <i class="fas fa-edit fa-3x" [routerLink]="['../detalle-fruta', f.id ]" ></i></td><!--[routerLink]="['detalle-fruta/:id', f.id ]"-->
      </tr>
    </tbody>
  </table>
  
