/*Comentarios de bloque*/
//comentarios de linea

//Estilos solo para este componente

code {
    background-color: black;
    color: #adff2f;
    padding: 10px 15px;

}

.iteracion-tarjetas{
    margin-right: 15px;
}