<div class="row">
  <div class="col">
    <p>Respecto al ejercicio anterior, esque el pojo videojuego tiene un constructor
      con atributos predifinidos, y tan solo cono inicializarlo en el constructor
      ya tenemos acceso en el html que se representa en un card
    </p>

    <h2>{{titulo}}</h2>
    <h3>{{videojuego.titulo}}</h3>
    <p>Sin usar el pipe de json</p>
    <p>{{videojuego }}</p>
    <p>Usamos el pipe de json para mostrar el objeto titulo, para pruebas</p>
    <p>{{videojuego | json}}</p>

  </div>
  <div class="col">
    <div class="container">
      <div class="card" style="width: 18rem;">
        <span class="badge badge-{{(videojuego.alquilado)? 'danger' : 'success'}} alquilado">{{(videojuego.alquilado)?
          'alquilado' : 'Disponible'}}</span>
        <img class="card-img-top" src="{{videojuego.imagen}}" alt="Card image cap">

        <div class="card-body">
          <h5 class="card-title">{{videojuego.titulo}} </h5>
          <p>Precio : {{videojuego.precio | currency:'EUR'}}</p>
          <p class="card-text">{{videojuego.descripcion}}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
  

</div> <!-- cierre del row-->

