<app-cabecera-principal></app-cabecera-principal>

<div class="Contenido">
    <h2> ¿ Que es angular ?</h2>
  <p><b>Angular 2</b>	es un framework  para	la	creación	Web	Apps desarrollado en typescript por google.</p>

     <ul>
        <li><small><a href="https://angular.io//" target="blank">Pagina oficial</a></small></li>
        <li><small><a href="https://github.com/angular" target="blank">Github</a></small></li>
        <li><small><a href="https://es.wikipedia.org/wiki/Angular_(framework)" target="blank">Wikipedia</a></small></li>
      </ul>
  
  <h3>Ofreciendo las siguientes caracteristicas</h3>
  <img src="assets/imgs/angular_grafic_source/soluciones_angular2.png">
  <h3><b>Componentes</b></h3>
  <p>
  Los
  componentes	son	estancos,	no	se	comunican	con	el	padre	a	no	ser	que	se	haga	explícitamente	por	medio	de
  los	mecanismos	disponibles,	etc.	Todo	esto	genera	aplicaciones	más	mantenibles,	donde	se	encapsula	mejor
  la	funcionalidad	y	cuyo	funcionamiento	es	más	previsible.	Ahora	se	evita	el	acceso	universal	a	cualquier	cosa
  desde	cualquier	parte	del	código
</p>
  <h3><b>Typescript</b></h3>
  <p>TypeScript puede ser usado para desarrollar aplicaciones JavaScript que se ejecutarán en el lado del cliente o del servidor (Node.js), o tambien para frotend (Angular).</p>
  <p>Esencialmente se trata de un superconjunto de Javascript, es decir, amplía Javascript con una nueva sintaxis que añade, entre otras cosas, el tipado estático opcional, genéricos, decoradores y elementos de POO como interfaces o property accessors.</p>
  <ul>
    <li><small><a href="http://www.typescriptlang.org/" target="blank">Pagina oficial</a></small></li>
    <li><small><a href="https://github.com/Microsoft/TypeScript" target="blank">Github</a></small></li>
    <li><small><a href="https://es.wikipedia.org/wiki/TypeScript" target="blank">Wikipedia</a></small></li>
  </ul>
  <img src="assets/imgs/angular_grafic_source/typescript_ecma.png">

  <h3>Data	Binding	Flow</h3>
    <p>
      Uno	de	los	motivos	del	éxito	de	Angular	1	fue	el	data	binding,	pero	éste	tenía	un
      coste	en	tiempo	de	procesamiento	en	el	navegador,	que	si	bien	no	penalizaba	el	rendimiento	en	todas	las
      aplicaciones	sí	era	un	problema	en	aquellas	más	complejas.	El	flujo	de	datos	ahora	está	mucho	más
      controlado	y	el	desarrollador	puede	direccionarlo	fácilmente,	permitiendo	optimizar	las	aplicaciones.	El
      resultado	es	que	en	Angular	2	las	aplicaciones	pueden	llegar	a	ser	hasta	5	veces	más	rápidas.
    </p>
    <h3>Renderizado universal</h3>
    <p>
      
      Renderizado	Universal:	Angular	nació	para	hacer	web	y	renderizar	en	HTML	en	el	navegador,	pero	ahora
      el	renderizado	universal	nos	permite	que	no	solo	se	pueda	renderizar	una	vista	a	HTML.	Gracias	a	ésto,
      alguien	podría	programar	una	aplicación	y	que	el	renderizado	se	haga,	por	ejemplo,	en	otro	lenguaje	nativo
      para	un	dispositivo	dado.
      Otra	cosa	que	permite	el	renderizado	universal	es	que	se	use	el	motor	de	renderizado	de	Angular	del	lado
      del	servidor.	Es	una	de	las	novedades	más	interesantes,	ya	que	ahora	podrás	usar	el	framework	para
      renderizar	vistas	del	lado	del	servidor,	permitiendo	un	mejor	potencial	de	posicionamiento	en	buscadores	de
      los	contenidos	de	una	aplicación.	Esta	misma	novedad	también	permite	reducir	el	impacto	de	la	primera
      visita,	ya	que	podrás	tener	vistas	"precocinadas"	en	el	servidor,	que	puedes	enviar	directamente	al	cliente.
    </p>
  <h3>Lazy Load</h3>
  <p><b>Lazy	SPA</b>:	Ahora	el	inyector	de	dependencias	de	Angular	no	necesita	que	estén	en	memoria	todas	las	clases
    o	código	de	todos	los	elementos	que	conforman	una	aplicación.	En	resumen,	ahora	con	Lazy	SPA	el
    framework	puede	funcionar	sin	conocer	todo	el	código	de	la	aplicación,	ofreciendo	la	posibilidad	de	cargar
    más	adelante	aquellas	piezas	que	no	necesitan	todavía.</p>
</div>

