<app-cabecera-servicios></app-cabecera-servicios>
<h2>¿ Que es un servicio ?</h2>
<blockquote>
  <p>
    <cite>
    Básicamente	un	servicio	es	un	proveedor	de	datos,	que	mantiene	lógica	de	acceso	a	ellos	y	operativa
    relacionada	con	el	negocio	y	las	cosas	que	se	hacen	con	los	datos	dentro	de	una	aplicación.	Los	servicios
    serán	consumidos	por	los	componentes,	que	delegarán	en	ellos	la	responsabilidad	de	acceder	a	la
    información	y	la	realización	de	operaciones	con	los	datos.
    </cite>
    <q>Fuente: <a href="http://desarrolloweb.com/manuales/manual-angular-2.html">Desarrolloweb</a></q>
</p>
</blockquote>
<h3>Generando un servicio</h3>
<p>Desde la terminal en la raiz del proyecto angular usamos el siguiente codigo: <code>ng g service carpeta-servicios/nombre-servicio</code> </p>
<p>Mediante la inyecion de dependencia  en el componente constructor(private nuestroService: NuestroService) </p>
<p>El modulo HttpClient nos permite hacer peticiones http</p>

<img src="assets/imgs/service.png">
