<app-cabecera-pipe></app-cabecera-pipe>
<div class="container">
  <h3>Pipes de Angular</h3>
  <div class="row">
    <div class="col-6">
      <h4><b>Pipes de fechas</b></h4>
      <p>uppercase {{"asdasd" | uppercase}} </p>
      <p>date {{ fecha | date }}</p>
      <p>date:'short' {{ fecha | date:'short' }}</p>
      <p>date:'medium' {{ fecha | date:'medium' }}</p>
      <p>date:'long' {{ fecha | date:'long' }}</p>
      <p>date:'full' {{ fecha | date:'full' }}</p>
      <p>date:'mediumDate' {{ fecha | date:'mediumDate' }}</p>
      <p>date:'longDate' {{ fecha | date:'longDate' }}</p>
      <p>date:'fullDate' {{ fecha | date:'fullDate' }}</p>
      <p>date:'shortTime' {{ fecha | date:'shortTime' }}</p>
      <p>date:'mediumTime' {{ fecha | date:'mediumTime' }}</p>
      <p>date:'longTime' {{ fecha | date:'longTime' }}</p>
      <p>date:'fullTime' {{ fecha | date:'fullTime' }}</p>
      <p>date:'dd-MM-yyyy' {{ fecha | date:'dd-MM-yyyy' }}</p>
      <p>number:'2.2' {{numero}}, {{ numero | number:'2.2' }}</p>
      <p>number:'1.2-2' {{numero}}, {{ numero | number:'1.2-2' }}</p>
      <!--<p>number:'1.2-2 : es' {{numero}}, {{ numero | number:'1.2-2 : es' }} <span class="text-danger">no tenemos locale para español</span></p> -->
    </div>
    <div class="col-6">

    </div>
  </div>



  <hr>
  <h3>Pipes Personales <code>| alquilado </code>teniendo 2 parametros true o false</h3>

  <div class="row">

    <div class="col">
      <h4>Listado Videojuegos </h4>
      <ol>
        <li *ngFor="let v of videojuegos">{{v.titulo}} - {{v.alquilado}}</li>
      </ol>
    </div>
    <div class="col">
      <h4>Listado Alquilados</h4>
      <li *ngFor="let v of videojuegos | alquilado:true">{{v.titulo}} - {{v.alquilado}}</li>
    </div>
    <div class="col">
      <h4>Listado Disponibles</h4>
      <li *ngFor="let v of videojuegos | alquilado:false">{{v.titulo}} - {{v.alquilado}}</li>
    </div>

  </div>
  <hr>
  <h3></h3>
  <h2>Ejemplo de pipes</h2>
  <p><b>pipe</b> customizado | sexo:1 -> el segundo parametro indica el tipo de filtrado 1-Chicos,
    2-Chicas,3-Indefinido</p>
  <p><code>*ngFor="let x of alumnosSexo | sexo:1"</code></p>
  <div class="row">
    <div class="col-4">
      <h3>Chicos</h3>
      <ul>
        <li *ngFor="let x of alumnosSexo | sexo:1">{{x.nombre }}</li>
      </ul>
    </div>
    <div class="col-4">
      <h3>Chicas</h3>
      <ul>
        <li *ngFor="let x of alumnosSexo | sexo:2">{{x.nombre }}</li>
      </ul>
    </div>
    <div class="col-4">
      <h3>Indefinido</h3>
      <ul>
        <li *ngFor="let x of alumnosSexo | sexo:3">{{x.nombre }}</li>
      </ul>
    </div>
  </div>






</div>
