<app-cabecera-pipe></app-cabecera-pipe>
<div class="container">
  <h3>{{title}}</h3>
  
  <div class="container">

    <table class="table">
      <thead class="bg-secondary">
        <tr>
          <th scope="col">Valor original</th>
          <th scope="col">Pipe usado</th>
          <th scope="col">Valor a mostrar</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{nombre}}</td>
          <td>uppercase</td>
          <td>{{ nombre | uppercase}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>lowercase</td>
          <td>{{ nombre | lowercase}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>slice:2</td>
          <td>{{ nombre | slice:2}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>slice:0:3</td>
          <td>{{ nombre | slice:0:3}}</td>
        </tr>
        <tr>
          <td>[ {{ array }} ]</td>
          <td>slice:0:3</td>
          <td>{{ array | slice:0:3}}</td>
        </tr>
        <tr>
          <td> {{ PI }} </td>
          <td>number:'2.0-10'</td>
          <td>{{ PI | number:'2.0-10'}}</td>
        </tr>
        <tr>
          <td> {{ PI }} </td>
          <td>number:'1.0-2'</td>
          <td>{{ PI | number:'1.0-2'}}</td>
        </tr>
        <tr>
          <td> {{ a }} </td>
          <td> a | percent</td>
          <td>{{ a | percent}}</td>
        </tr>
        <tr>
          <td> {{ a }} </td>
          <td>  a | percent:'2.2-2'</td>
          <td>{{ a | percent:'2.2-2'}}</td>
        </tr>
        <tr>
          <td> {{ salario }} </td>
          <td>  salario | currency</td>
          <td>{{ salario | currency}}</td>
        </tr>
        <tr>
          <td> {{ salario }} </td>
          <td>  salario | currency:'EUR'</td>
          <td>{{ salario | currency:'EUR'}}</td>
        </tr>
        <tr>
          <td> {{ salario }} </td>
          <td>  salario | currency:'EUR':true:'4.3-4'</td>
          <td>{{ salario | currency:'EUR':true:'4.3-4'}}</td>
        </tr>
        <tr>
          <td> {{ salario }} </td>
          <td>  salario | number:'2.2'</td>
          <td>{{ salario | number:'2.2'}}</td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> fecha | date:'shortTime' </td>
          <td>{{ fecha | date:'shortTime' }}</td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> fecha | date </td>
          <td>{{ fecha | date }}</td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> fecha | date:'medium' </td>
          <td>{{ fecha | date:'medium' }}</td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> fecha | date:'MMMM - dd' </td>
          <td>{{ fecha | date:'MMMM - dd' }}</td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> fecha | date:'MMMM - dd' </td>
          <td>{{ fecha | date:'MMMM - dd' }}</td>
        </tr>
         
       <!-- <tr> 
          <td> {{ nombre2 }} </td>
          <td> constraseña:{{activar}}
          <br>
            <button
              (click)="activar = !activar"
              type="button"
              class="btn btn-outline-primary">Activar/Desactivar</button>
          </td>
          <td>{{ nombre2 | password:activar }}</td>
        </tr>-->
      </tbody>
    </table>
    <h4>JSON  producto | json </h4>
    <pre>
      {{ producto | json }}
    </pre>

    <!-- <h4>Youtube </h4>
<iframe width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div> -->




  <hr>
  




</div>
