<app-cabecera-formularios></app-cabecera-formularios>
<p>
  Toda la configuracion y la validaciones se hacen del lado del html
</p>
<h4>Formularios <small>template</small></h4>
<hr>
<form class="was-validated" #formularioTemplate="ngForm" (ngSubmit)="guardarFormulario(formularioTemplate)"  novalidate>

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               [ngModel]="nombre"
               name="nombre"
               minlength="5"
               required>
       <p *ngIf="formularioTemplate.form.controls.nombre.errors?.required" class="text-danger">
         <small>El campo es requerido</small></p>
       <p *ngIf="formularioTemplate.form.controls.nombre.errors?.minlength" class="text-danger">
         <small>Minimo {{formularioTemplate.form.controls.nombre.errors.minlength.requiredLength}} caracteres</small></p> 
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               [ngModel]="apellido"
               name="apellido"
               minlength="5"
               required>
               <p *ngIf="formularioTemplate.form.controls.apellido.errors?.required" class="text-danger">
                <small>El campo es requerido</small></p>
              <p *ngIf="formularioTemplate.form.controls.apellido.errors?.minlength" class="text-danger">
                <small>Minimo {{formularioTemplate.form.controls.apellido.errors.minlength.requiredLength}} caracteres</small></p> 
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             [ngModel]="correo"
             name="correo"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
             <p *ngIf="formularioTemplate.form.controls.correo.errors?.required" class="text-danger">
              <small>El campo es requerido</small></p>
            <p *ngIf="formularioTemplate.form.controls.correo.errors?.pattern" class="text-danger">
              <small>Parece que la direcciond e email tiene una estructura incorrecta.</small></p> 
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>
